.rating {
  &__star {
    @for $i from 1 through 10 {
      &:nth-of-type(#{$i}) {
        $step: $i/5;
        animation: slideIn $step + s ease;
      }
    }

    transition: 0.3s all;

    &:hover {
      transform: scale(1.3)
    }
  }

  &__full {
    font-size: 2rem;
    margin-left: 0.5rem;
  }

  &__half {
    font-size: 2rem;
    margin-left: 0.5rem;
  }

  &__empty {
    font-size: 2rem;
    margin-left: 0.5rem;
  }

  path {
    color: #e50914;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-500px);
    }
    100% {
      transform: translateX(0);
    }
  }
}


@media screen and (max-width: 640px) {

  .rating{
    &__star{
      &:nth-of-type(1){
        margin: 0;
      }
    }
  }
}


@media screen and (max-width: 475px) {

  .rating{
    margin-top: 0.5rem;
    &__star{
      font-size: 1.7rem;
    }

    &__average{
      margin-top: 0.5rem;
    }
  }
}


@media screen and (max-width: 475px) {

  .rating{
    
    &__star{
      font-size: 1.5rem;
    }


  }
}