.movies{
    flex: 1;
/*     display: flex;
    flex-direction: column; */

    &__container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        perspective: 2000px;
    }

    &__heading{
        color: #fff;
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 2px;
        
    }
}