@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.nav {
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 1.2rem;
    border-radius: 0 .5rem .5rem 0;
    background-color: #7f5a83;
background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

    padding: .8rem 2.5rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    

    &:hover {
      transform: scaleX(1.1);
    }
  }

  &__link {
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 500;
  }
}
