@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;

  &__list {
    display: flex;
    margin-bottom: 1rem;

  }

  &__item {
    background: transparent;
    padding: 0.5rem 4.5rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    border: 3px solid #e50914;

    &--active {
      background: #e50914;
    }

    &:hover {
      transform: scale(1.01);
    }
    a {
      display: block;
    }
  }

  &__link {
    font-family: "Roboto", sans-serif;
    color: white;
    letter-spacing: 1px;
    font-size: 1.4rem;
  }
}

/* Media queries */

@media (max-width: 800px) {
  .nav {
    &__list {
      flex-direction: column;
      width: 60%;
    }

    &__item {
      margin-left: 0;
      padding: 0.5rem 3.5rem;
      margin-bottom: 1rem;
      border-radius: .5rem;
    }
  }
}

@media (max-width: 450px) {
  .nav {
    &__list {
      width: 70%;
    }

    &__item{
      padding: 0.5rem 3rem;
    }
    &__link {
      font-size: 1.2rem;
    }
  }
}

/*   background: #f9AA33;  */
