.similar {
  padding-left: 4rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &--opacity{
    opacity: .1;
  }

  &__heading {
    color: #e50914;
    font-size: 2rem;
    font-weight: 500;
  }
  &__container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    perspective: 2000px;

    position: relative;
  }
}

/* media queries */

@media (max-width: 800px) {
  .similar{
    &__heading{
      align-self: center;
    }
  }
}


@media (max-width: 760px) {
  .similar {
    padding-left: 0;

    &__container {
      justify-content: center;
    }
  }
}
