.single-movie {
  position: absolute;
  width: 100%;
  height: 100%;

  &__container {
    min-height: 100vh;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.55);
    display: flex;
    flex-direction: column;

    &--opacity{
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.85);

      .single-movie__details{
        opacity: .1;
      }
    }
  }

  &__play {
    position: absolute;
    top: 25%;
    right: 25%;
    cursor: pointer;
    z-index: 1;

    display: flex;
    align-items: center;

    animation: rightToLeft 1.3s;


    &-icon {
      color: #ffff;
      font-size: 12rem;
      transition: all 0.4s;

      & > path,
      & > polygon {
        transition: all 0.4s ease;
      }

      &:hover > path {
        fill: #ffff;
      }

      &:hover > polygon {
        fill: #f44336;
      }

      &:hover + p {
        color: #f44336;
      }
    }

    &-label {
      color: #ffff;
      font-size: 2rem;
      margin-left: 0.5rem;
      transition: all 0.3s;
      font-weight: 400;
      letter-spacing: 3.5px;


    }
  }

  &__details {
    padding-left: 4rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
    position: relative;
  }

  &__title {
    color: #ffff;
    font-size: 5rem;
  }
  &__rate {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }

  &__overview {
    color: rgb(196, 195, 195);
    font-size: 1.5rem;
    margin-top: 3rem;
    line-height: 2.3rem;
    width: 35vw;
  }

  &__informations {
    display: flex;
    padding-top: 2rem;
    font-weight: 500;

    /* informations animations */

    &--genres {
      animation: slideInDetails 1.3s ease;
    }

    &--stars {
      animation: slideInDetails 1.7s ease;
    }

    &--released {
      animation: slideInDetails 2.1s ease;
    }

    &--production {
      animation: slideInDetails 2.5s ease;
    }
  }
  &__heading {
    color: #e50914;
    font-size: 2rem;
  }

  &__informations-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 0.5rem;
  }

  &__informations-heading {
    color: #e50914;
    font-size: 1.8rem;
  }

  &__info {
    font-size: 1.8rem;
    margin-left: 0.8rem;
    color: #ffff;

    &::after {
      content: ",";
    }

    &:last-child::after {
      content: "";
    }
  }

  &__back {
    cursor: pointer;
    margin-bottom: 4rem;
  }

  @keyframes slideInDetails {
    0% {
      transform: translateX(-500px);
    }
    50% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes rightToLeft{
    0%{
      transform: translateX(500px);
    }
    100%{
      transform: translateX(0);
    }
  }

}

/* media queries */

@media screen and (max-width: 1900px) {
  .single-movie {
    &__overview {
      width: 50vw;
    }
  }
}

@media screen and (max-width: 1100px) {
  .single-movie {
    &__overview {
      width: 80vw;
    }

    &__back {
      margin-bottom: 3rem;
    }
  }
}

@media screen and (max-width: 640px) {
  .single-movie {
    &__rate {
      flex-direction: column;
      align-items: flex-start;
    }

    &__title {
      font-size: 3.5rem;
    }

    &__back {
      margin-bottom: 2rem;
    }

    &__informations-heading {
      font-size: 1.3rem;
    }

    &__info {
      font-size: 1.3rem;
    }

    &__overview {
      font-size: 1.3rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .single-movie {
    &__informations {
      flex-direction: column;
      align-items: flex-start;

      &-container {
        margin: 0;
      }
    }

    &__info {
      margin: 0;
    }
  }
}

@media screen and (max-width: 475px) {
  .single-movie {
    &__details {
      padding-left: 2rem;
    }
  }
}
